# Terraform
**/.terraform/
**/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/*.tfplan
terraform/**/*.tfplan
terraform/*.secret.tfvars
terraform/**/*.secret.tfvars

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
