# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan
**/*.secret.tfvars
**/backup*.json
**/*.tar.gz

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
